<li data-id="<%= effort.id %>">
  <%= link_to effort.title, effort_path(effort) %>
  <%= link_to "Delete", effort_path(effort), :method => :delete, :confirm => "Are you sure?", :remote => true %>
</li>
