.new_feature_form {display: none;}
.range {width: 400px;margin-bottom: 10px;}
.range a:nth-child(0n+1) {background: blue;}
.range a:nth-child(0n+2) {background: green;}
.range a:nth-child(0n+3) {background: red;}
